.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #181716;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

h15{
  text-align: start;

}

.footer-background-color{
  background-color: rgb(28, 124, 41);
}
.bootom-footer{
  background-color: rgb(32, 17, 167);
}
.backstyling{
  background-color: rgb(161, 203, 252);
}
.socialspictures{
  height: 70px;
  width: 70px;
  margin-right: 5px;
}

.Links{
  background-color: rgb(74, 10, 194);
  margin-right: 15px;
  padding: 10px;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
